{% if form is defined %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
{% set flash_type_coloricon = {
    info: ['info', 'info-sign'],
    warning: ['warning', 'alert'],
    danger: ['danger', 'remove-circle'],
    success: ['success', 'ok-circle'],
} %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NewsApp{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="refresh" content="100">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link rel="stylesheet"  href="{{ asset('vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet"  href="{{ asset('style.css') }}">
        {% if app.user.properties is defined %}
        <style>
            /* some user defined properties */
            body {
            {% if app.user.properties.main_background_color is defined %}
                background-color: {{ app.user.properties.main_background_color }};
            {% endif %}
            }

        </style>
        {% endif %}
    {% endblock %}

    </head>
    <body>
    <div class="notifications">
    {% for type, flash_messages in app.session.flashBag.all %}
        {%      for flash_message in flash_messages %}
            <div class="alert alert-link alert-dismissible alert-{{ flash_type_coloricon[type][0]|default('blue') }} fade in"  role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><i class="glyphicon glyphicon-{{ flash_type_coloricon[type][1]|default('info-sign') }}"></i> {{ flash_message }}</strong>
            </div>
        {%      endfor %}
    {% endfor %}
    </div>
    <div class="container-fluid">

        <div class="well text-center">
            {% block header %}
            <h1>NewsApp {% block subtitle %}{% endblock %}</h1>
            {% endblock %}
        </div>
        {% block nav %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('homepage') }}">Home</a></li>
                            {% if feed_list is defined %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News feeds <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for feed in feed_list %}
                                        <li><a href="{{ path('news', {'slug':feed.slug}) }}">{{ feed.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('ROLE_USER') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> Welcome, {{ app.user.fullname|default(app.user.username) }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('settings') }}">Settings</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('logout') }}">Logout</a></li>

                                </ul>
                            </li>
                            {% else %}
                                <li><a href="{{ path('login') }}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        {% endblock %}


    {% block body %}<p class="text-danger">No content added yet</p>{% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('vendor/components/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/twbs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
